.backgrnd {
    background-image: url("../../../../images/poker-table.png");
}
.spajs {
    padding-top: 225px;
}
#Pkr {
    margin-left: 100px;
    border-radius: 25px;
    width: 100px;
    height: 100px;
}
.blkjk-txt {
    text-align: center;
    font-size: 32px;
    color: rgb(25, 3, 85);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(43, 102, 150), 0 0 0.2em blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}